.Hero{
      width: 100% !important;
      height: calc(100vh - 1.75rem) !important;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      background-image:linear-gradient(rgba(0, 0, 0, 0.137), rgba(0, 0, 0, 0.5)), url("/IssuePic.png") ;
}

.Hero::after
{
      position: absolute;
      content: "Track your Issues";
      left: 50%;
      top: 55%;
      translate: -50% -50%;
      font-size: 3rem;
      text-align: center;
      color: black;
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;
      filter: drop-shadow();
}